name: Unit Tests

on:
  workflow_call:
    inputs:
      upload-reports:
        required: false
        type: boolean
        default: true

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Android environment
        uses: ./.github/actions/setup-android

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest --continue

      - name: Upload test results
        if: inputs.upload-reports && always()
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results
          path: '**/build/test-results/testDebugUnitTest/'

      - name: Upload test reports
        if: inputs.upload-reports && always()
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-reports
          path: '**/build/reports/tests/testDebugUnitTest/'
